
@media (max-width: 768px) {
    #main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }
    .card {
        width: 90%;
    }
}

@media (max-width: 640px) {
    #main {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }
    .card {
        width: 100%;
    }
}